<h1 class="heading">My Todo-list</h1>

<%= form_with(url: "/todos", method: "post", class: "input-section") do %>
  <%= text_field_tag :todo_text, "", placeholder: "What's next?", class: "todo-text-input" %>
  <%= date_field_tag 'due_date', class: "due-date-input" %>
  <%= button_tag 'Add', class:"add-btn" %>
<% end %>

<section class="todo-items">
  <%= render partial: "todo-section", locals: {
    section_title: "Overdue",
    todos: @todos.overdue,
    show_due_date: true
  } %>

  <%= render partial: "todo-section", locals: {
    section_title: "Due Today",
    todos: @todos.due_today,
    show_due_date: false
  } %>

  <%= render partial: "todo-section", locals: {
    section_title: "Due Later",
    todos: @todos.due_later,
    show_due_date: true
  } %>
</section>
